<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>The Morse Encoder</title>

</head>
<body>

<div class="container">
    <h1>The Morse Encoder</h1>
    <br/><br/>

    <div class="row">

        <form th:object="${message}" th:action="@{/}" method="post">
            <input th:field="*{text}"/>
            <button type="submit">encode</button>
        </form>

    </div>

    <div class="col-sm">

        <h3 th:text="${plain}"></h3>
        <h3 th:text="${encoded}"></h3>

    </div>

</div>

</body>
</html>